In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
dt=pd.read_csv(r"D:\ML_Pro\extracted_features_charrec_dense7.csv")
dt

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,class_name
0,27.630783,0.000000,51.067493,0.0,26.302004,0.000000,0.000000,0.0,0.0,0.000000,...,35.563477,8.822042,0.0,18.269510,82.596970,0.000000,0.000000,1.751286,0.0,3333
1,41.934185,0.000000,57.616398,0.0,40.345722,0.000000,0.000000,0.0,0.0,0.000000,...,33.432617,22.573324,0.0,25.266916,71.188900,0.000000,0.000000,0.000000,0.0,3333
2,59.681458,0.000000,35.450397,0.0,51.084698,0.000000,0.000000,0.0,0.0,4.531399,...,17.747238,22.295591,0.0,9.600313,39.380276,0.000000,0.000000,13.358544,0.0,3333
3,25.652845,0.000000,42.711246,0.0,26.391441,0.000000,0.000000,0.0,0.0,0.000000,...,25.998358,12.029038,0.0,19.127953,60.226376,0.000000,0.000000,0.000000,0.0,3333
4,51.862490,0.000000,25.455917,0.0,48.505250,0.000000,0.000000,0.0,0.0,0.000000,...,27.024067,1.758605,0.0,17.696215,64.634834,0.000000,0.000000,9.861172,0.0,3333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6652,0.000000,8.917019,12.606703,0.0,0.000000,23.875010,0.000000,0.0,0.0,9.403310,...,0.000000,9.477231,0.0,0.000000,46.723995,0.000000,20.901190,7.003646,0.0,3454
6653,12.088920,3.646342,28.106102,0.0,0.000000,0.000000,0.000000,0.0,0.0,0.000000,...,0.000000,0.000000,0.0,0.000000,38.677414,0.000000,1.824834,7.562943,0.0,3454
6654,0.000000,0.000000,53.899130,0.0,0.000000,0.000000,12.079654,0.0,0.0,0.000000,...,12.388772,58.245360,0.0,0.000000,47.787598,5.880453,0.000000,3.556168,0.0,3454
6655,0.000000,0.000000,37.811558,0.0,0.000000,0.000000,8.555406,0.0,0.0,0.000000,...,7.663426,23.674717,0.0,0.000000,53.260387,3.350826,0.000000,8.673196,0.0,3454
6656,0.000000,0.000000,29.105694,0.0,0.000000,8.669491,20.568624,0.0,0.0,0.000000,...,11.354428,39.144600,0.0,0.000000,62.376480,13.449656,0.000000,10.945368,0.0,3454

In [2]:
dt.describe()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,class_name
count,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.0,6657.000000,...,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.000000,6657.0,6657.000000
mean,21.167244,7.914853,26.955550,0.001694,22.496025,3.155892,0.566073,0.000942,0.0,25.541555,...,4.556751,18.894252,0.001973,10.986298,25.483393,0.853183,21.327060,17.278656,0.0,3365.858194
std,21.048915,11.119147,34.284395,0.044561,24.870716,9.028120,3.395978,0.040107,0.0,35.277036,...,11.053910,26.166480,0.075321,13.966302,28.379510,3.459574,29.444840,20.342259,0.0,24.817513
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3333.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,3353.000000
50%,16.735703,2.248540,16.052292,0.000000,15.782615,0.000000,0.000000,0.000000,0.0,10.701322,...,0.000000,8.076521,0.000000,5.125904,17.266066,0.000000,9.578491,9.162153,0.0,3362.000000
75%,34.614826,11.951107,40.553830,0.000000,37.320180,0.000000,0.000000,0.000000,0.0,38.489910,...,0.821449,27.168510,0.000000,18.787160,43.938200,0.000000,30.630342,28.160164,0.0,3374.000000
max,113.655290,58.710968,194.724120,1.568933,149.866410,73.601400,34.719303,2.378994,0.0,192.633940,...,74.291320,168.736980,4.984689,79.050310,171.163060,34.583378,147.329130,92.224130,0.0,3454.000000

In [11]:
means = dt.mean()

In [13]:
centroid1 = means.loc['6']
centroid2 = means.loc['5']
dis = np.linalg.norm(centroid1 - centroid2)

print(f" {dis:.2f}")

 2.59

In [14]:
c = dt.class_name.iloc[0:152].mean()
c1 = dt.class_name.iloc[153:288].mean()
dis1 = np.linalg.norm(c1 - c)

print(f" {dis1:.2f}")

 1.00